/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d7d7d7;
  color: black;
  font-family: "Sanchez", serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */

a, .btn {
  transition: all 0.5s ease;
}

/* DESKTOP NAV */

#desktop-nav {
  display: flex;
  padding: 20px 20px;
}